BME506/Lab1Proj/Lab1.exe
.vscode/
BME506/Lab2Proj/Lab2.exe
BME506/Lab3Proj/Lab3Proj.exe
BME506/Lab4Proj/Lab4.exe
BME506/Lab4Proj/transplantPatients.txt
BME506/Lab5Proj/Lab5Main.exe
BME506/Lab6Proj/Lab6Main.exe
BME506/Lab7Proj/Lab7.exe
.DS_Store
*.asv
*.autosave
